body{
    margin:0;
    padding: 0;
    background-color: beige;
}


header  {
    background-color: rgb(239, 128, 187);
    margin: 0 auto; 
    padding: 0;
}

.carrie {
    
    text-align: center;
   padding:0;
   margin: 0;

    font-size: 30px;
    color: wheat;
    font-family: "Imperial Script", cursive;
    font-weight: bold;
    

}

main{

    margin: 0 auto;
    padding: 0 auto;
}

h2{
  
font-size: 30px;
    padding-top: 1rem;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(239, 128, 187);
     width:70%;
    margin: 0 auto;
 
    padding-top: 1rem;
    
}

div{
   width:70%;
    margin: 0 auto;
    background-color: rgb(212, 16, 121);
    margin-top: 1rem;
    padding: 0.5em;
    font-size: 13px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.151);

}

h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgb(239, 128, 187);
   text-align: center;
   padding:2rem,0,0,0;
   margin: 0;
   
}

.bio {
     font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    margin: 1rem;
   
   
}

footer{
    text-align: center;
    width:70%;
    margin: 0 auto;
}

  ul{
       
        color: rgb(0, 0, 0);
       
        list-style: none;
       

    }

    li{
        display: inline;
        margin: 2rem;
        padding:0.5rem;
        background-color: aliceblue;
        font-size: 9px;

    }

     .icono-color{
            color: rgb(212, 16, 121);
        }

        .icon-background5 {
            color: beige;
        }

        img {

            border-radius: 50%;
            float: left;
             box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.151);
             margin: 1rem;
             height: 150px; 
             margin: 0.5rem;
        }

        h3{

            font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: beige;
   padding-left: 2rem;

        }

        p{
            padding: 2rem;
            margin: 1rem;
            text-align: center;
        }

a{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.direccion {
    padding: 1rem;
    text-align: left;
}

.direccion1 {
    padding:0,0,0, 3rem;
    text-align: left;
    margin:0;
}

 .icon-background {
            color:rgb(244, 193, 220); 
        margin: 0;
    
    
    }