.contenedor {
    background-color: rgb(204,223,231);
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin: 80px;
    border-radius: 30px;

   
    color:rgb(0, 0, 0);
}

.titulo {
   text-align: center; 
   text-decoration: underline; 
   text-transform:uppercase;
   font-size: 55px;
   font-weight:700;
   padding-top: 40px;

}
h2 {

    font-size: 30px;
    font-weight: 800;
    background-color: rgb(51,158,204);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;  
}

h3{
    margin-left: 10px;
    padding-left: 10px; 
    margin-right: 10px;
    color: white;
    background-color:rgb(129,198,230);
    font-size: 22px;
    font-weight: 700px;
}


.textos {
    margin-left: 10px;
    margin-right: 10px;
    
}

.poema {
    font-style: italic;
    margin-left: 40px;
    line-height: 180%;
}

pre{
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.pie {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    font-size: 15px;
    margin-right: 10px;
    padding: 10px;

}

#afaik{

    background-color: red;
}
article h2 {
    background-color: red;
}

a{
    color: blueviolet;
    font-size: 30px;
}
 

a:hover {
    color: chartreuse;
    cursor:all-scroll;
    
}

a:visited {
    color: rgb(220, 20, 20);
}

